@function px2rem($px, $rem: 75) {
  @return $px / $rem + rem;
}

body {
  background-color: #ffd5e6;
}
.page-hd {
  position: relative;
  .title {
    position: absolute;
    left: 0;
    bottom: -5%;
    z-index: 300;
  }
}
.page-bd {
  padding: px2rem(30);
}
.container {
  position: relative;
  padding: 12px;
  border-radius: 1px;
  background-color: #ff90b8;
}
.avatar {
  width: px2rem(100);
  height: px2rem(100);
  border-radius: 50%;
  border: 2px solid #fff;
}
.header {
  position: relative;
}
.header-wear {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  width: px2rem(120);
  height: px2rem(120);
  background-size: 100%;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}
.love-value {
  span {
    display: inline-block;
    color: #fff;
    padding: 1px 4px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.user-info {
  padding-top: 4px;
  img {
    margin-left: 4px;
  }
}
.list {
  min-height: 250px;
  border-radius: 1px;
  padding: 12px 12px 20px 12px;
  background-color: #fff;
  .box {
    border-radius: 4px;
    min-height: px2rem(206);
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  li {
    color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    .hd {
      width: 90px;
      min-width: 90px;
    }
    .ft {
      width: 90px;
      max-width: 90px;
    }
  }
}

.left-fixed {
  position: absolute;
  left: px2rem(-32);
  top: px2rem(-154);
  z-index: 270;
  img {
    width: px2rem(488);
    height: px2rem(288);
  }
}
.right-fixed {
  position: absolute;
  right: px2rem(-30);
  top: px2rem(-140);
  z-index: 270;
  img {
    width: px2rem(234);
    height: px2rem(308);
  }
}

.default {
  font-size: 14px;
  color: #999;
  padding: 100px 0;
  border-radius: 1px;
  background-color: #fff;
  p {
    margin-top: 10px;
  }
}

.heart {
  padding-top: px2rem(72);
  background-color: #fff;
  img {
    margin: 0 2px;
  }
  svg {
    fill: #ff579c;
    display: inline-block;
    margin: 0 2px;
  }
}
