@function px2rem($px, $rem: 75) {
  @return $px / $rem + rem;
}

body {
  background-color: #ffd5e6;
}

.page-hd {
  position: relative;
  > img {
    vertical-align: top;
  }
  .title {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    img {
      vertical-align: top;
    }
  }
}
.page-bd {
  position: relative;
  padding: 0 px2rem(30) px2rem(60) px2rem(30);
}
.new-tabs {
  display: flex;
  flex-wrap: wrap;
  .tab {
    cursor: pointer;
    opacity: 0.6;
    font-weight: bold;
    font-size: 12px;
    padding: 0 4px;
    flex: 1;
    text-align: center;
    margin-bottom: 8px;
    &:first-child {
      flex-basis: 100%;
      .tab-innter {
        width: px2rem(152);
      }
    }
  }
  .tab-innter {
    display: inline-block;
    width: px2rem(152);
    height: px2rem(54);
    line-height: px2rem(54);
    background-image: url(./images/btn-unselected.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 center;
  }
  .tab-active {
    opacity: 1;
    .tab-innter {
      color: #a8511b;
      background-image: url(./images/btn-selected.png);
    }
  }
}
.page-tabs {
  position: relative;
  > .van-tabs__wrap {
    display: none !important;
  }
}
.container {
  position: relative;
  padding: 12px;
  margin-top: px2rem(8);
  border-radius: 2px;
  background-color: #ff90b8;
}
.avatar {
  width: px2rem(89);
  height: px2rem(89);
  border-radius: 50%;
  border: 1px solid #fff;
  vertical-align: top;
}
.header {
  position: relative;
  display: inline-block;
}
.header-wear {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  width: px2rem(138);
  height: px2rem(138);
  background-size: 100%;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}
.love-value {
  span {
    display: inline-block;
    color: #fff;
    padding: 1px 4px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.user-info {
  padding-top: 4px;
  img {
    margin-left: 4px;
  }
}
.list {
  border-radius: 2px;
  padding: 20px 12px 20px 12px;
  background-color: #fff;
  .box {
    border-radius: 4px;
    min-height: px2rem(206);
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  li {
    font-size: 13px;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    .hd {
      width: 90px;
      min-width: 90px;
    }
    .ft {
      width: 90px;
      max-width: 90px;
    }
  }
}

.default {
  text-align: center;
  font-size: 14px;
  color: #999;
  padding: 40px 0 0 0;
  border-radius: 1px;
  background-color: #fff;
  p {
    margin-top: 10px;
  }
}
