@function px2rem($px, $rem: 75) {
  @return $px / $rem + rem;
}
body {
  background: var(--body-bg);
}
.color-1 {
  color: var(--red);
}
.page-hd {
  width: 100%;
  background-color: #fff;
}
.page-bd {
  padding: 10px px2rem(30);
  margin-bottom: px2rem(140);
}
.page-ft {
  color: #8c8c8c;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  padding: 10px 15px;
  background-color: #fff;

  button {
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: px2rem(50);
    height: px2rem(100);
  }

  p {
    line-height: 1.4;
    margin-top: 6px;
  }
}
.peipei {
  font-size: 14px;
  align-items: center;
  padding: 8px px2rem(30);

  img {
    margin-right: 6px;
  }
}
.item {
  width: 33.3333%;
  padding: 0 4px;
  margin-bottom: 12px;
}
.gi {
  padding: 0 10px;
  text-align: center;
  overflow: hidden;
  border-radius: 8px;
  min-height: px2rem(282);
  background-color: #fff;

  &-active {
    border: 1px solid #ff5c9d;
  }

  &-ft {
    justify-content: center;
    align-items: center;
    color: #8c8c8c;
  }
}
