.animation {
  animation-duration: 0.3s; // 检索或设置对象动画的持续时间
  animation-fill-mode: both; // 设置对象状态为动画结束或开始的状态
}

.anim-scalespring {
  animation-name: scale-spring; // 检索或设置对象所应用的动画名称
}

// 播放无限次
.anim-infinite {
  animation-name: go-infinite;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
}

@keyframes scale-spring {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  80% {
    opacity: 0.8;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dialog-fade-in {
  0% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.7);
  }
  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}

@keyframes dialog-fadde-out {
  0% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.7);
  }
}

@keyframes go-infinite {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
