* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #262626;
  font-size: 12px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC",
    "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

ul,
ol,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
picture,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: inherit;
}

i {
  color: inherit;
  font-style: normal;
}

input::-webkit-input-placeholder {
  color: rgba(144, 147, 153, 1);
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #a0aec0;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #a0aec0;
}

textarea {
  resize: none;
}

button {
  outline: 0 none;
}

table {
  border-collapse: collapse;
}

pre,
code,
kbd,
samp {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

video {
  max-width: 100%;
  height: auto;
}

/* 设置最大宽度 */
@media screen and (min-width: 769px) {
  body {
    width: 768px;
    margin: 0 auto;
  }
}