.btn {
  position: relative;
  display: inline-block;
  line-height: 1.15;
  font-weight: 400;
  text-align: center;
  user-select: none;
  background-color: transparent;
  vertical-align: middle;
  border: 1px solid transparent;
}
