@import "@/assets/css/base.scss";
/******************************************************/
@function px2rem($px, $rem: 75) {
  @return $px / $rem + rem;
}
body {
  font-size: 14px !important;
}
p {
  line-height: 1.4;
  margin: 10px 0;
  text-align: justify;
}
.page {
  &-bd {
    padding: px2rem(30);
  }
}
.box {
  width: px2rem(200);
  height: px2rem(200);
  background-image: url(./images/v2-610cad.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 10px;
}
