@function px2rem($px, $rem: 75) {
  @return $px / $rem + rem;
}

html {
  --color-eb: #ffe7eb;
  --color-aa: #ceacaa;
  --color-3d: #cb1d3d;
  --color-ff: #fff;
  --color-99: #999;
}

body {
  background-color: #efefff;
}

@mixin _position($width, $height, $top, $right, $bottom, $left, $zIndex) {
  position: absolute;
  width: $width;
  height: $height;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $zIndex;
}

.page {
  margin-bottom: 60px;
}

.page-hd {
  position: relative;
  margin-bottom: px2rem(306);
  .act-notify {
    position: absolute;
    left: 0;
    bottom: -24%;
    width: 100%;
    z-index: 10;
  }
  .act-time {
    margin: 0 auto;
    width: 172px;
    height: 44px;
    line-height: 44px;
    background-image: url(./images/act-time.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .act-desc {
    margin: px2rem(40) 14px 0 14px;
    padding: 9px;
    border: 1px solid #ceadb0;
    border-radius: 5px;
    background-color: var(--color-ff);
    &-box {
      position: relative;
      background-color: #fef9f9;
      border: 2px solid #f4e3ea;
      > img {
        @include _position(25px, 30px, null, -3%, -8%, null, 10);
      }
    }
    p {
      color: var(--color-3d);
    }
  }
}

.page-bd {
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.page-ft {
  @include _position(100%, null, null, null, 0, 0, 9527);
  text-align: right;
}

.page-tabs {
  // font-size: 15px;
  position: relative;
  > .van-tabs__wrap {
    height: auto;
    .van-tabs__nav {
      justify-content: center;
      flex-wrap: wrap;
      background-color: transparent;
      .van-tab {
        min-width: px2rem(200);
        line-height: 35px;
        overflow: visible;
        margin: 0 10px 10px 10px;
        opacity: 0.6;
        position: relative;
        padding: 1px;
        border-radius: px2rem(35);
        border: 1px solid rgba(216, 112, 14, 1);
        &::before {
          content: '';
          @include _position(10px, 10px, 50%, null, null, -5px, 10);
          background-color: #a34400;
          transform: translateY(-50%) rotate(45deg);
        }
        &::after {
          content: '';
          @include _position(10px, 10px, 50%, -5px, null, null, 10);
          background-color: #a34400;
          transform: translateY(-50%) rotate(45deg);
        }
      }
      .van-tab--active {
        opacity: 1;
        font-weight: bold;
      }
    }
    .van-tab__text {
      display: block;
      border-radius: px2rem(35);
      background: linear-gradient(
        0deg,
        rgba(251, 184, 54, 1) 0%,
        rgba(254, 240, 100, 1) 100%
      );
    }
  }
}

.container {
  padding: 0 14px;
}

.mod {
  position: relative;
}

.min-h250 {
  min-height: 250px;
}

.mod-skin {
  border: 1px solid var(--color-ff);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  position: relative;
  &::before {
    content: '';
    @include _position(100%, 100%, 0, null, null, 0, -1);
    background-color: rgba(255, 255, 255, 0.3);
    filter: blur(0.5px);
  }
  .mod-box {
    border-radius: 10px;
    background-color: var(--color-ff);
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pd-10 {
  padding: 10px;
}

.color-1 {
  color: var(--color-3d);
}

.lg-1 {
  background: linear-gradient(
    0deg,
    rgba(255, 98, 125, 1),
    rgba(238, 88, 116, 1)
  );
}
.lg-2 {
  background: linear-gradient(
    0deg,
    rgba(245, 91, 255, 1),
    rgba(166, 88, 238, 1)
  );
}

.col {
  width: 50%;
  padding: 0 4px;
}

.award {
  border-radius: 10px;
  border: 1px solid var(--color-aa);
  position: relative;
  padding-top: 20px;
  padding-bottom: 5px;
  img {
    width: px2rem(190);
    height: px2rem(190);
  }
}

.card {
  &-bd {
    margin-bottom: 8px;
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--color-aa);
  }
  > p {
    color: var(--color-3d);
  }
}

.tag {
  @include _position(null, null, null, null, -4%, -4%, 10);
  padding: 2px;
  border-radius: 2px;
  color: var(--color-ff);
  background: linear-gradient(
    -24deg,
    rgba(255, 98, 125, 1),
    rgba(238, 88, 116, 1)
  );
}

.rank {
  color: var(--color-ff);
  width: px2rem(183);
  padding: 8px 0;
  border-radius: 5px;
  @include _position(null, null, -16px, null, null, 50%, null);
  transform: translate(-50%, 0);
}

.person {
  align-items: center;
  min-height: px2rem(150);
  padding: 0 px2rem(30);
  border-radius: px2rem(50) px2rem(50) 0 0;
  box-shadow: 0 0 16px 1px rgba(140, 140, 140, 0.2);
  background-color: var(--color-ff);
  &-hd {
    color: var(--color-99);
  }
  &-bd {
    padding-left: 6px;
    align-items: center;
  }
  &-info {
    padding-left: 6px;
    p {
      max-width: px2rem(240);
    }
  }
  .amount {
    color: var(--color-3d);
  }
}

.figure {
  align-items: center;
  justify-content: center;
  width: px2rem(97);
  height: px2rem(102);
  position: relative;
}

@for $i from 1 to 4 {
  .no#{$i} {
    .figure {
      &::before {
        content: '';
        @include _position(100%, 100%, 0, null, null, 0, 10);
        background-image: url(./images/ic-avatar-#{$i}.png);
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
  }
}

.avatar {
  width: px2rem(80);
  height: px2rem(80);
  border-radius: 50%;
}

.default {
  font-size: 14px;
  color: var(--color-99);
  padding: 60px 0;
  p {
    margin-top: 10px;
  }
}

.act-endTime {
  align-items: center;
  justify-content: center;
  min-height: px2rem(90);
}

.copyright {
  > img {
    margin-bottom: px2rem(35);
  }
  p {
    margin-bottom: 8px;
  }
}

.gift-box {
  padding: 10px 0 20px 0;
  text-align: center;
  p {
    margin-top: 12px;
  }
  img {
    width: px2rem(230);
    height: px2rem(230);
    margin: 0 px2rem(30);
  }
}
